<!--BOOK新規投稿フォーム ※ログイン時共通-->

<%= form_for(book) do |f| %>
<div class="form-group">
    <%= f.label :Title %>
    <%= f.text_field :title, class: "col-xs-12 book_title" %>
</div>
<div class="form-group">
    <%= f.label :Opinion %>
    <%= f.text_area :body, class: "col-xs-12 book_body" %>
    <%= f.submit class: "btn btn-primary col-xs-12" %>
</div>
<% end %>