<div class="row">
  <div class="col-xs-3">

    <h2>User info</h2>
    <%= render "users/info", user: @user %>

    <h2>New book</h2>
    <%= render "books/form", user: @user, book: @book_new %>

    <div id="comment-create">
      <h2>Comment</h2>
    </div>
    <div class="comment-create">
      <%= render partial: 'comments/commentform', locals: {comment: @comment, book: @book} %>
    </div>
    
  </div>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image_id, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %><br>
            <%= link_to @user.name, @user %>
        </td>
        <td><%= link_to @book.title, @book %></td>
        <td><%= @book.body %></td>
        <td>
          <div id="favorites_buttons_<%= @book.id %>">
            <%= render partial: 'books/favorite', locals: { book: @book} %>
          </div>
        </td>
        <td>
          <div id="comments_area">
            <%= render partial: 'comments/commentindex', locals: {comments: @comments} %>
          </div>
        </td>
        <% if @book.user == current_user%>
          <td><%= link_to "Edit", edit_book_path, class: "btn btn-success" %></td>
          <td><%= link_to "Destroy", @book, method: :delete, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>